# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
CMakeCache.txt
CMakeFiles
cmake*
/Makefile
src/client/Makefile
src/server/Makefile
src/generator/Makefile
src/common/Makefile
Z_Client
Z_Server
Z_Generator
Z.glade~
Z_TPGrupal.cbp
